/* -----fonts ----*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/* ----common styles -----*/

body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #ffffff;
    /* height:100%; */
}
/*---------- Top heading part styles--------- */
.nain-container{
    background-color: white;
}

.top-container{
    display: flex;
    width: 1520px;
    height: 677px;
    /* margin-left: 35px; */
    
    background: #2D25A0;
    color: white;
}

/* .watch-live a{
    text-decoration: none;
    Width: 168px;
    Height: 44px;
    background: #E02C6D;
    color: white;
    padding: 10px 24px;
    transition: all 0.5s;
    } */

    .button{
        text-decoration: none;
        Width: 168px;
        Height: 44px;
        background: #E02C6D;
        color: white;
        padding: 10px 24px;
        font-size: 16px;
        transition: width 3s ,height 2s, transform 1s;
        }
    .button:hover{
        width: 188px;
        height: 64px;
        background-color: #E02C6D;
        transform: rotate(360deg);
    }


.top-blog{
    width: 50%;
    padding-left:156px ;
    padding-top: 103px;
}
.blog-info h1{
    font-size: 55px;
    font-weight: 700;
    padding-top: 48px;
    margin-top: 67px;
    margin-bottom: 23px;
}

.top-picture{
    width: 60%;
}
.top-picture img{
    width: 70%;
    padding-top: 153px;
    padding-right: 140px;
    padding-bottom: 86px;
}
    
/* -------------------
Players image and blogs 
 -----------------------*/

 
 .players{
    width: 1050px;
    /* height: 474px; */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 27px;
    grid-column-gap: 30px;
    margin-top: 70px;
    margin-left: 180px;
    margin-right: 180px;
    /* padding-left: 15px;
    padding-right: 15px; */
    

 }

 .player-info{
    width: 300px;
    height: 154px;
 }
 .blog{
    width: 300px;
    height: 456px;
     display: flex;
     flex-direction: column;
     box-shadow: 1px 1px 30px rgb(184, 182, 182);
     padding: 15px;
 }

 .blog .player-img img{
     width: 300px;
     height: 256px;
 }

 .blog .player-info h2{
    width: 300px;
    height: 40px;
     margin-top: 16px;
     margin-bottom: 10px;
 }
 .blog .player-info p{
     color: gray;
     font-weight: 400;
     margin-top: 0;
     margin-bottom: 0;
    width: 300px;
    height: 104px;
 }

 .player-img{
     height: 256px;
     width: 300px;
 }
/*------------- match info ------------*/

.matches{
    background-color: #2D25A0;
    height: 250px;
    width: 1180px;
    margin-left: 15px;
    margin-right: 15px;
    align-items: center;
    padding-left: 300px;
    
    color:#F3F1FF;
    margin-top: 60px;
    
}
.match-info{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
}
    /* -------------End of Match information section ------------- */

.my-form{
    margin-top: 30px;
    margin-left: 500px;
    font-size: 20px;
    font-weight: 700;
}

.form-info{
    width: 400px;
    outline: none;
    border: 2px solid rebeccapurple;
    border-radius: 7px;
    padding: 10px;
}
.submit-b{
    color: white;
    padding: 2px 12px;
    background-color: #2D25A0;
    outline: none;
    border-radius: 5px;
}
/* ------------
     footers  
 --------------*/

.footer-final{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footer-img img{
    height: 110px;
    width: 483px;
    padding-top: 158px;
    padding-bottom: 20px;
}
.fab{
    padding-right: 20px;
    height: 32px;
    
}
.fa-facebook{
    height: 32px;
    width: 32px;
}

/*-----------------
  Media Queries
  -------------- */

  /* Mobile Devices */

  @media only screen and (max-width:688px) {

    .top-container{
        width:100%;
        height: 900px;
        flex-direction: column;
    }
    .top-blog{
        flex-direction: column;
        margin-left: 0;
        padding-top: 10px;
        padding-left: 10px;
    }
    .top-picture img{
        width: 300px;
        height: 250px;
        padding-top: 80px;
        padding-bottom: 0px;
        padding-right: 0;
        padding-left: 70px;
        align-items: center;
    }
    /*   */
      .players{
          grid-template-columns: repeat(1, 1fr);
      }
      .blog{
        width: 30%;
      }
      .match-info{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        
      }
      .matches{
          width: 100%;
          height: 400px;
          padding: 10px;
      }

    .footer-img img{
    height: 110px;
    width: 400px;
    padding-top: 0;
    padding-bottom: 5px;
  }
  .form{
      align-items:initial;
  }

  .form-info{
    justify-content:left;
    width: 200px;
    outline: none;
    border: 2px solid rebeccapurple;
    border-radius: 7px;
    padding: 0px;
}

}