/* -----fonts ----*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/* ----common styles -----*/

body{
    font-family: 'Poppins', sans-serif;
    background-color: #F3F1FF;
}
/*---------- Top heading part styles--------- */
.top-container{
    display: flex;
    width: 1520px;
    height: 677px;
    /* margin-left: 35px; */
    margin-top: 0;
    margin-left: 0;
    margin-left: 0;
    background: #2D25A0;
    color: white;
}

.watch-live a{
    text-decoration: none;
    Width: 168px;
    Height: 44px;
    background: #E02C6D;
    color: white;
    padding: 10px 24px;
    }
.top-blog{
    width: 50%;
    padding-left:156px ;
    padding-top: 103px;
}
.blog-info h1{
    font-size: 55px;
    font-weight: 700;
    padding-top: 48px;
    margin-top: 67px;
    margin-bottom: 23px;
}

.top-picture{
    width: 60%;
}
.top-picture img{
    width: 70%;
    padding-top: 153px;
    padding-right: 140px;
    padding-bottom: 86px;
}
    
/* -------------------
Players image and blogs 
 -----------------------*/

 
 .players{
    width: 1050px;
    height: 474px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 27px;
    grid-column-gap: 30px;
    margin-top: 70px;
    margin-left: 180px;
    margin-right: 180px;
    /* padding-left: 15px;
    padding-right: 15px; */
    

 }

 .player-info{
    width: 300px;
    height: 154px;
 }
 .blog{
    width: 300px;
    height: 456px;
     display: flex;
     flex-direction: column;
     box-shadow: 1px 1px 30px rgb(184, 182, 182);
     padding: 15px;
 }

 .blog .player-img img{
     width: 300px;
     height: 256px;
 }

 .blog .player-info h2{
    width: 300px;
    height: 40px;
     margin-top: 16px;
     margin-bottom: 10px;
 }
 .blog .player-info p{
     color: gray;
     font-weight: 400;
     margin-top: 0;
     margin-bottom: 0;
    width: 300px;
    height: 104px;
 }

 .player-img{
     height: 256px;
     width: 300px;
 }

